---
import Layout from './Layout.astro'
import type { MarkdownLayoutProps } from 'astro'

type Props = MarkdownLayoutProps<{
	title: string
	author: string
}>

const { frontmatter }: Props = Astro.props
---

<Layout pageTitle={frontmatter.title}>
	<h1>{frontmatter.title}</h1>
	<p>Written by {frontmatter.author}</p>
	<slot />
</Layout>
