---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<h1 class="text-5xl font-bold text-blue-300">My blog</h1>
	<p>
		Magna in voluptate tempor officia laboris aliqua occaecat Lorem cupidatat consequat occaecat
		commodo in.
	</p>
	<ul class="flex flex-col gap-2">
		<li><a href="/posts/post-1" class="link">Post 1</a></li>
		<li><a href="/posts/post-2" class="link">Post 2</a></li>
		<li><a href="/posts/post-3" class="link">Post 3</a></li>
	</ul>
</Layout>
