---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'

const allPosts = await getCollection('blog')
const pageTitle = 'Tutorial | Blog'
---

<Layout {pageTitle}>
	<h1 class="text-5xl font-bold text-blue-300">My blog</h1>
	<p>
		Magna in voluptate tempor officia laboris aliqua occaecat Lorem cupidatat consequat occaecat
		commodo in.
	</p>
	<ul class="flex flex-col gap-2">
		{
			allPosts.map((post: any) => (
				<li class="btn btn-ghost">
					<a href={`/posts/${post.id}`}>{post.data.title}</a>
				</li>
			))
		}
	</ul>
</Layout>
