---
import Welcome from '../components/Welcome.astro'
import Layout from '../layouts/Layout.astro'
import Counter from '../components/Counter.svelte'

const pageTitle = 'Tutorial'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout {pageTitle}>
	<h1 class="text-5xl font-bold text-blue-300">Hello world!</h1>
	<!-- <Welcome /> -->
	<Counter client:load />
</Layout>
