---
import Layout from '../layouts/Layout.astro'
import Counter from '../components/Counter.svelte'

const pageTitle = 'Tutorial'
---

<Layout {pageTitle}>
	<h1 class="text-5xl font-bold text-blue-300">Hello world!</h1>
	<Counter client:load />
</Layout>
