---
import Layout from '../../layouts/Layout.astro'

const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }))
const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())]

const pageTitle = 'Tags'
---

<Layout {pageTitle}>
	<h2>Tags!</h2>
	<div class="flex flex-row gap-2 mb-4">
		{
			uniqueTags.map((tag) => (
				<a href={`/tags/${tag}`} class="btn btn-secondary btn-xs">
					{tag}
				</a>
			))
		}
	</div>
</Layout>
