---
const platform = 'github'
const username = 'tmykkanen'
---

<footer class="bg-accent p-4">
	<p>
		Learn more about my projects on <a href={`https://www.${platform}.com/${username}`} class="link"
			>{platform}</a
		>!
	</p>
</footer>
