<header class="mb-4 flex gap-4">
	<a href="/" class="btn btn-primary">Home</a>
	<a href="/about" class="btn btn-primary">About</a>
	<a href="/blog" class="btn btn-primary">Blog</a>
	<a href="/tags" class="btn btn-primary">Tags</a>
</header>
